# Environment variables
.env
.env.local

# Firebase config (if using real keys)s
firebase-config.json
*-firebase.json

# Dependencies
node_modules/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db
firebase-config.js
